body{
    font-family: 'Poppins', sans-serif;
}

.child_wrapper_container{
    width: 1140px;
    margin: auto;
}
/* ata amar 1 nmbr kaj*/
.heder_icone{
    height: 45px;
    background-color: black;
    opacity: .5;
}
.icone{
    display: flex;
    margin-left: 370px;
}
.heder_icone svg{
    font-size: 18px;
    margin-top: 15px;
    color: #fff;
    padding: 0 8px;
    
}
.email{
    margin-left: 600px;
    padding: 0 50px;
}
.email a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.Contact a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.profile_picture{
    background-color: aqua;
    background: url('../imagefolder/banner.png') no-repeat scroll 0 0 /cover;
    height: 900px;

}
/* drome down manu*/
.header{
    display: flex;
    margin-top: 20px;
    position: relative;
}
.drop_dwon_menu ul{
    display: flex;
    margin-left: 170px;
    margin-top: 5px;
}
.drop_dwon_menu ul li{
    list-style-type:  none;
}
.drop_dwon_menu ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    line-height:22.5px;
    font-weight:400;
    color: #fff;
}
.drop_dwon_menu ul li a:hover{
	color:#34AD60;
}

.charc_bur svg{
    margin-left:120px;
    padding: 0 25px;
    color: #fff;
    margin-top: 10px;
}
.button{
    background-color: #34AD60;
    padding:9px 40px;
    border-radius: 5px;
    margin-left: 4px;
}
.button a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}
.button:hover{
    background-color: #28AE60;
}

.header:before{
    content: "";
	position: absolute;
    background-color: #4B4E50;
    width: 100%;
    height: 1px;
    margin-top: 70px;
}
/* text css */
.text h3{
    color: #fff;
    font-size: 50px;
    line-height: 62px;
    letter-spacing:2px;
    font-weight:400;
    width: 500px;
    margin-top: 200px;
}
.text p{
    color: #D5D5D5;
    font-size: 20px;
    line-height: 28px;
    font-weight:400;
    width: 650px;
    margin-top: -40px;
}
.text_button{
    display: flex;
}
.button2 {
    background-color: #34AD60;
    padding: 10px 35px;
    border-radius: 5px;
}
.button3 {
   border: 2px solid #D5D5D5;
    padding: 10px 35px;
    border-radius: 5px;
    margin-left: 20px;
    transition: 1s;
}
.button3:hover{
    background-color: #34AD60;
    transition: 1s;
    border: none;
} 

.button2 a{
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
}
.button3 a{
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
}


/* solution container */
.child_wrapper_container h2{
    margin-left: 380px;
    margin-top: 150px;
    color: #2C2C2C;
    font-size: 36px;
    line-height: 56px;
    font-weight: 400;
}
.servicse_div{
    display: flex;
    margin-top: 50px;
    
}
/*1 */
.servicse1{
    width: 350px;
    height: 275px;
    background: url('../imagefolder/bg1.png') no-repeat scroll 0 0/ cover;
    position: relative;
    overflow: hidden; 
    margin: 15px;
}
.servicse1 h3{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-top:120px;
    margin-left: 100px;;
}
.hoverly_aria{
    position: absolute;
    background-color: #34AD60;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    transition: 1s;
   
}
.servicse1:hover .hoverly_aria{
    top: 0;
    transition: 1s;
}
.hoverly_aria h4{
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
    margin-left: 135px;

}
.hoverly_aria p{
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
}


/*The Largest Business Expert */
.Business_container{
    margin-top: 120px;
    display: flex;
}
.b_profile img{
    width: 1000px;
}
.b_text{
    margin-top: 120px;
    margin-left: 80px;
}
.b_text h3{
    color: black;
    font-size: 36px;
    line-height: 55px;
    font-weight:400;
}
.b_text{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    font-weight:300;
    width: 580px;
}
.b_text_p_container{
    margin-top: 36px;
}
.b_text_p {
    display: flex;
	color: #727272;
	font-size: 16px;
	font-weight: 500;
	margin-top: -27px;
}
.b_text_p svg{
    margin-top: 18px;
    padding: 5px;
    color: #34AD60;
}
.buton{
    margin-top: 50px;
}
 .buton a{ 
    background-color: #34AD60;
    padding: 12px 50px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
 }
.buton a:hover{
    background-color: #28AE61;
}
/* target */
.target_container{
    background-color: #F5FBFF;
    margin-top: -10px;
    height: 300px;
}
.chind_target{
    display: flex;
}
.target{
    padding: 80px 100px;
}
.target h3{
    color:#2C2C2C;
    font-size:50px;
    font-weight:400;
}
.target p{
    color: #919191;
    font-size:16px;
    font-weight:400;
    margin-top: -50px;
}


/*Our Recent Works */
.text_contaiiner{
    margin-top: 150px;
    text-align: center;
}
.text_contaiiner h3{
    color: #2C2C2C;
    font-size: 36px;
    line-height: 55px;
    font-weight: 400;
}
.text_contaiiner p{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    width: 550px;
    margin-left: 300px;
    
}
.main_container{
    margin-top: 40px;
}
.child_container{
    display: flex;
}
.work_div{
    margin: 15px;
    background-color: #D5D5D5;
    width: 350px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.hoverly_aria2{
    position: absolute;
    background-color: #34AD60;
    width: 100%;
    height: 100%;
    top: 0;
    left: -350px;
    transition: 1s;
    opacity: .5;
}
.work_div:hover .hoverly_aria2{
    left: 0;
    transition: 1s;
}
.hoverly_aria2 h5{
    color: #fff;
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 400;
    text-align: center;
    margin-top: 180px;
}
.hoverly_aria2 p{
    color: #fff;
    font-size: 14px;
    line-height: 31px;
    font-weight: 300;
    text-align: center;
    margin-top: -30px;
}
/* dificult work*/
.work_div4{
    margin: 15px;
    background-color: #D5D5D5;
    width: 720px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.hoverly_aria_dificult{
    position: absolute;
    background-color: #34AD60;
    width: 100%;
    height: 100%;
    top: 0;
    left: -720px;
    transition: 1s;
    opacity: .5;
}
.work_div4:hover .hoverly_aria_dificult{
    left: 0;
    transition: 1s;
}
.hoverly_aria_dificult h5{
    color: #fff;
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 400;
    text-align: center;
    margin-top: 180px;
}
.hoverly_aria_dificult p{
    color: #fff;
    font-size: 14px;
    line-height: 31px;
    font-weight: 300;
    text-align: center;
    margin-top: -30px;
}

.Work_button {
    margin-top: 50px;
    margin-bottom: 50px;
}
.Work_button a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #34AD60;
    margin-left: 550px;
    border: 1px solid #34AD60;
    padding: 15px 45px;
    border-radius: 5px; 
    transition: .5s;
}
.Work_button a:hover{
    background-color: #28AE60;
    color: #fff;
    transition: .5s;
}

/* ata amar 5 nmr kaj */
.ful_wrapper_container5{
    margin-top: 120px;
    background-color: #4B4E50;
    width: 100%;
    height: 600px;
    background: url('../imagefolder/bg.png') no-repeat scroll 0 0/cover;
}
.child_container5{
    display: flex;
}
.child{
    border: 1px solid #f1f2f6;
    width: 350px;
    height: 300px;
    margin-top: 145px;
    margin: 145px 15px;
    
}
.child h4{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 120px;
}
.child p{
    color: #F5FBFF;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-left: 50px;
    width: 250px;
}
.child:hover{
    background-color: #34AD60;
    transition: .5s;
    border: none;
}


/* Gives you the best Financial solution for Business */
.finance_container{
    display: flex;
    margin-top: 150px;
}
.finance_container_text h3{
    color: #2C2C2C;
    font-size: 36px;
    line-height: 55px;
    font-weight: 400;
    margin-top: 100px;
}
.finance_container_text p{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}


/* business owner*/
.Business_owner{
    margin-top: 200px;
    text-align: center;
}
.Business_owner h3{
    color: #727272;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: underline;
    width:900px;
    margin-left: 100px;
}
.Business_owner h4{
    color: #2C2C2C;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}
.Business_owner p{
    color: #727272;
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
}



/* any project*/
.any_project{
    background-color: #28AE60;
    width: 100%;
    height: 500px;
    margin-top: 150px;
    text-align: center;
}
.any_project_container h1{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 55px;
    font-weight: 400;
    padding: 140px 0 0 0;
}
.any_project_container p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    width: 450px;
    margin-left: 344px;
}
.any_project_button{
    margin-top: 50px;
}
.any_project_button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 15px 40px;
    border-radius: 5px;
    transition: .5s;
}
.any_project_button a:hover{
    background-color: #fff;
    color: #34AD60;
    transition: .5s;
}


/* floter */
.floter{
    background-color: #2C2C2C;
    width: 100%;
    height: 550px;
    margin-top: 0;
}
.ft_container{
    display: flex;
    padding: 140px 0 0 0;
}
.ft_left p{
    color: #C7C7C7;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    width: 400px;
}
.ft_icon svg {
	font-size: 22px;
	color: #fff;
	padding: 11px 10px;
	border-radius: 50%;
	background-color: #C7C7C7;
    transition: .5s;
}

.ft_icon svg:hover{
    background-color: #34AD60;
    transition: .5s;
}

/* ft right */
.ft_right{
    display: flex;
}
.ft_right_icon{
    margin-left: 10px;
}
.ft_right_dv h1{
    color: #fff;
    margin-top: -15px;
    margin-left: 50px;
    font-size: 22px;
    font-weight: 400;
}
.ft_right_dv ul li{
    list-style-type: none;
    color: #28AE60;
}
.ft_right_dv ul li a{
	font-size: 14px;
	line-height: 42px;
	font-weight: 400px;
	color: #C7C7C7;
    text-decoration: none;
}
.ft_right_dv ul li a:hover{
    color: #28AE60;
}
/* floter2 */
.floter2{
    background-color: #1F1F1F;
    height: 100px;
    margin-top: -30px;
}
.floter_text{
	display:flex;
	justify-content:center;
	padding: 25px 0px;
}

.floter_text svg{
	margin-top:15px;
	color: #28AE60;
	padding:5px;
}
.floter_text p{
	color:#AAAAAA;
}



